:root{
  --bg:#0b0b0b;
  --card:#141414;
  --gold:#b08d57;
  --red:#8b0000;
  --text:#fff;
}

body{
  margin:0;
  font-family:Inter, sans-serif;
  background:var(--bg);
  color:var(--text);
}

.container{
  max-width:900px;
  margin:auto;
  padding:20px;
}

h1{
  text-align:center;
  color:var(--gold);
}

.card{
  background:var(--card);
  padding:20px;
  margin:20px 0;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,.5);
}

input, textarea{
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:10px;
  border:none;
  background:#1f1f1f;
  color:#fff;
}

button{
  background:linear-gradient(45deg,var(--gold),#d4af37);
  border:none;
  padding:12px;
  width:100%;
  border-radius:12px;
  color:#000;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:scale(1.03);
}

.drop{
  border:2px dashed var(--gold);
  padding:40px;
  text-align:center;
  border-radius:12px;
  margin-top:10px;
}

/* PRODUTOS */
.product{
  background:#1c1c1c;
  padding:15px;
  margin:10px 0;
  border-radius:12px;
  border-left:4px solid var(--gold);
}

.product b{
  color:var(--gold);
}

.actions{
  margin-top:10px;
  display:flex;
  gap:10px;
}

.actions button{
  flex:1;
  background:var(--red);
  color:#fff;
}
