:root{
  --bg:#0b0b0b;
  --card:#141414;
  --gold:#b08d57;
  --red:#8b0000;
  --text:#fff;
}

body{
  margin:0;
  font-family:Inter, sans-serif;
  background:var(--bg);
  color:var(--text);
}

.container{
  max-width:900px;
  margin:auto;
  padding:20px;
}

.card{
  background:var(--card);
  padding:20px;
  margin:20px 0;
  border-radius:16px;
}

.product{
  background:#1c1c1c;
  padding:15px;
  margin:10px 0;
  border-radius:12px;
  border-left:4px solid var(--gold);
}

button{
  background:var(--red);
  border:none;
  padding:8px;
  color:#fff;
  border-radius:8px;
  cursor:pointer;
}

.drop{
  border:2px dashed var(--gold);
  padding:40px;
  text-align:center;
  border-radius:12px;
}

#status{
  color:var(--gold);
}
